.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item-link {
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-white-color);
  }
}
.social-list-item {
  & + & {
    margin-left: 10px;
  }
}

.social-list-item-link-footer {
  background: var(--social-list-link-footer-background-color);
  color: var(--main-white-color);
}
